@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bebas+Neue&family=Bitter:wght@400;500;700&family=Buenard&family=Playfair+Display+SC&display=swap');
* {
    margin: 0;
    padding: 0;
}

p {
    font-size:1.2vw;
}

body {
    background-color:#E5E5E5;
    font-family:'bitter', sans-serif;
}

.nav {
   display:flex;
   font-family:'buenard', sans-serif;
   margin-left:27vw;
 }
 
 .nav a {
   margin: 0 3vw;
   text-decoration:none;
   color:black;
   font-size:1.2vw;
 }
 
 .logo {
   width:6vw;
   margin-left:1vw;
   position:relative;
   bottom:.5vw;
 }
 
 .nav a:hover,
 .navport:hover,
 .subnav:hover {
   transform:scale(1.1);
   transition:.2s ease;
   color:#8e1e1e;
 }

 .head-flex {
   display:flex;
   flex:wrap;
   padding-top:1vw;
   /* padding-bottom:1vw; */
   margin-bottom:4vw;
   /* background-color:#d9dade; */
   box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.137);
   justify-content: space-between;
}

.navport {
 display:inline-block;
}

.dropdown {
 display:inline-block;
}

.port-content {
 display:none;
 position:absolute;
 z-index:1;
 background-color:#E5E5E5;
 box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.137);
 padding-bottom:.5vw;
 max-width:17vw;
}

.dropdown:hover .port-content {
 display:block;
}

.name-number,
.location-email,
.pdf {
 display:flex;
 flex:wrap;
 justify-content: space-between;
}

li {
    font-size:1.2vw;
}

 .resumeh2{
  font-family:'bebas neue', sans-serif;
  text-align:center;
  font-size:5vw;
 }

 .whole {
    margin: 0 5vw;
 }

 .objective {
    padding-top:2vw;
 }

 .slight-bold {
    font-weight:500;
 }

 .sub {
    margin-left:2vw;
 }

 .lasthr {
    margin:1vw 0;
 }
 
 li {
    margin-left:2vw;
 }

 img {
    width:2vw;
 }

 .letterpdf,
 .resumepdf {
    display:flex;
    flex:wrap;
 }

 .pdfp {
    padding-top:.5vw;
    margin-left:.5vw;
 }

 a {
    text-decoration: none;
    color:black;
    display:inline-block;
    position:relative;
 }

 .pdfp a::after {
    content:'';
    position:absolute;
    width:100%;
    transform:scaleX(0);
    height:2px;
    bottom:0;
    left:0;
    background-color:rgb(0, 0, 0);
    transform-origin: bottom center;
    transition: transform .2s ease-out;
 }

 .pdfp a:hover::after {
    transform:scaleX(1);
    transform-origin:bottom center;
 }

 .resumeh2 {
   text-align:center; 
   font-family: 'bebas neue', sans-serif;
   font-size:6vw;
   letter-spacing:.3vw;
 }

 /* footer */

.footer-nav {
   margin:0;
   margin-top:2vw;
   padding:0;
   float:right;
   text-align:right;
 }
 
 .footer-logo {
   margin-top:2vw;
 }
 
 footer {
   background-color:#948f8f;
   margin-top:5vw;
   color:white;
   height:20vw;
 }
 
 .footer-content p {
   font-size:1.3vw;
   color:black;
   margin-left:2vw;
   margin-top:.9vw;
 }
 