@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bebas+Neue&family=Bitter:wght@400;500;700&family=Buenard&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
img {
    width:20%;
}

* {
    margin: 0;
    padding: 0;
}

 p {
  font-family: 'buenard', sans-serif;
  font-size:1vw;
 }

body {
    background-color:#E5E5E5;
}

.nav {
  display:flex;
  font-family:'buenard', sans-serif;
  margin-left:27vw;
}

.nav a {
  margin: 0 3vw;
  text-decoration:none;
  color:black;
  font-size:1.2vw;
}

.logo {
  width:6vw;
  margin-left:1vw;
  position:relative;
  bottom:.5vw;
}

.nav a:hover,
.navport:hover,
.subnav:hover {
  transform:scale(1.1);
  transition:.2s ease;
  color:#8e1e1e;
}

.head-flex {
    display:flex;
    flex:wrap;
    padding-top:1vw;
    /* padding-bottom:1vw; */
    margin-bottom:4vw;
    /* background-color:#d9dade; */
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.137);
    justify-content: space-between;
}

.navport {
  display:inline-block;
}

.dropdown {
  display:inline-block;
}

.port-content {
  display:none;
  position:absolute;
  z-index:1;
  background-color:#E5E5E5;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.137);
  padding-bottom:.5vw;
  max-width:17vw;
}

.dropdown:hover .port-content {
  display:block;
}

.port-colors {
  display:flex;
  justify-content: center;
  font-family:'Bebas Neue', 'Helvetica Neue', Arial;
}

.port-colors h2 {
  margin: 0 .5vw;
  font-size:4vw;
}

.port-colors:hover {
  cursor:default;
}

/* * {
  box-sizing:border-box;
} */

.mySlides {
  display:none;
}

.imgs-hero {
  vertical-align:middle;
  width:45vw;
  height:25vw;
}

.intro-flex {
  display:flex;
  flex:wrap;
  margin: 2vw 3vw;
}

.slideshow-container {
  min-width:100%;
  min-width:25vw;
  position:relative;
  margin:auto;
}

.prev,
.next {
  cursor:pointer;
  position:absolute;
  top:50%;
  width:auto;
  padding:16px;
  margin-top:-22px;
  color:white;
  font-weight:bold;
  font-size:18px;
  transition:.6s ease;
  border-radius: 0 3px 3px 0;
  user-select:none;
}

.next {
  right:0;
  border-radius:3px 0 0 3px;
}

.prev:hover, 
.next:hover {
  background-color:rgba(173, 110, 110, 0.8);
}

.dot {
  cursor:pointer;
  height:15px;
  width:15px;
  margin:0 2px;
  background-color:#bbb;
  border-radius:50%;
  display:inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color:#7aad95;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity:.4}
  to {opacity:1}
}

.marquee {
  height:50px;
  overflow:hidden;
  position:relative;
}

.marquee p {
  position:absolute;
  width:50%;
  height:100%;
  margin:0;
  line-height:40px;
  text-align:center;
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  -moz-animation:scroll-left 2s linear infinite;
  -webkit-animation:scroll-left 2s linear infinite;
  animation:scroll-left 50s linear infinite;
}

@-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes scroll-left {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes scroll-left {
  0%   { 
  -moz-transform: translateX(100%); 
  -webkit-transform: translateX(100%); 
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); 
  -webkit-transform: translateX(-100%); 
  transform: translateX(-100%); 
  }
 }

 .marquee p {
  font-size:2vw;
  font-family: 'buenard', sans-serif;
  width:100%;
 }

.name {
  font-family:'buenard', sans-serif;
  font-size:3vw;
  text-align: center;
  letter-spacing:1vw;
  overflow:hidden;
 }

 .h3green {
  color:#00756E;
 }

 .h3green:hover {
  /* animation-name:example;
  animation-duration:5s; */
  animation: example 10s infinite;
  cursor:default;
 }

 @keyframes example {
  0% {color:#08827a}
  25% {color:#8a2d2d}
  50% {color:#8e1e1e}
  75% {color:#367d78}
  100% {color:#08827a}
 }
 

 .index-intro {
  /* background-color:#681818; */
  /* margin: 2vw 25vw; */
  height:15vw;
  color:#161616;
  margin-left:2vw;
  margin-top:6.5vw;
 }

 .index-intro p {
  padding-top:0vw;
  margin: 0 3vw;
  font-size:1.4vw;
  font-family: 'be vietnam pro', sans-serif;
 }

 .aboutmebutton {
  float:right;
  margin-right:6vw;
  margin-top:.5vw;
  text-decoration:none;
  color: #070707;
  font-family:'bebas neue', sans-serif;
  font-size:1.5vw;
  letter-spacing:.1vw;
 }

 .aboutmebutton:hover {
  color:#a46c6c;
  transition: .4s ease;
 }

 .exploreprojects {
  text-align:center;
  font-size:1.3vw;
  margin-bottom:2vw;
 }

 .exploreprojects a {
  text-decoration:none;
  color:black;
  font-family: 'be vietnam pro', sans-serif;
 }

.exploreprojectsa,
.aboutmebutton,
.btn a {
  display:inline-block;
  position:relative;
}

.exploreprojectsa::after,
.aboutmebutton::after,
.btn a::after {
  content:'';
  position:absolute;
  width:100%;
  transform:scaleX(0);
  height:.1vw;
  bottom:0;
  left:0;
  background-color:rgb(50, 48, 48);
  transform-origin: bottom right;
  transition: transform .25s ease-out;
}

.exploreprojectsa:hover::after,
.aboutmebutton:hover::after,
.btn a:hover::after {
  transform:scaleX(1);
  transform-origin:bottom left;
}

/* home page portfolio section */
.project-flex,
.project-flex2,
.hireme-flex {
  display:flex;
  justify-content: space-between;
  margin: 1vw 0vw;
  height:25vw;
  width:100%;
}

#dinosaur,
#reduce-img,
#veldt-img,
#coco-img {
  height:25vw;
  width:49vw;
  object-fit:cover;
  background-position-y:top;
  opacity:.4;
  position:relative;
  bottom:5.2vw;
  display:none;
  z-index: -1;
}

@keyframes fadeIn {
  0% {opacity:0}
  100% {opacity:.4}
}

@keyframes fadeOut {
  0% {opacity:.4}
  100% {opacity:0}
}

.all-flex {
  width:49vw;
}

.reduce,
.dinos,
.veldt,
.coco {
  width:49vw;
  height:25vw;
  position:absolute;
  z-index:-3;
}


.link-dino,
.link-reduce,
.link-veldt,
.link-coco {
  position:relative;
  width:fit-content;
  text-decoration: none;
  font-family:'bebas neue', sans-serif;
  font-size:4vw;
  letter-spacing:.1vw;
  top:10vw;
  font-weight:bold;
  color:#252525;
}

.link-dino {
  left:9vw;
  transition: .4s ease;
}

.link-reduce {
  left:13vw;
}

.link-veldt {
  left:17vw;
}

.link-coco {
  left:18vw;
}

.link-reduce:hover,
.link-dino:hover,
.link-veldt:hover,
.link-coco:hover {
  color:black;
  transition: .4s ease;
}

.reduce {
background-color:#687E7C;
}

.dinos {
  background-color:#DABB8D;
}

.veldt {
  background-color:#A0A4AD;
}

.coco {
  background-color:#B3837C;
}

.link {
  text-decoration: none;
  font-family:'bebas neue', sans-serif;
  font-size:3.3vw;
  letter-spacing:.1vw;
}

.contact h2,
.resume h2{
  position:relative;
  top:9vw;
}

.googly-flex,
.googly-flex2 {
  display:flex;
  flex:wrap;
}

.contact,
.resume {
  width:50vw;
  text-align: center;
  top:4.5vw;
  position:relative;
  height:25vw;
}

.contact:hover,
.resume:hover {
  transition: .3s ease;
  color:#C6B5A9;
  background-color:#252525;
}

/* .contact:hover::after {
  color:#584848;
  background-color:#C6B5A9;
  transition: .3s ease;
} */

.contact {
  color:#584848;
  background-color:#C6B5A9;
}

/* @keyframes colorSwitch {
  0% {background-color:#252525;
      color:#C6B5A9;}
      100% {background-color:#C6B5A9;
            color:#584848}
} */

.resume {
  background-color: #584848;
  color:#C6B5A9;
}

.googly-flex h2 {
  font-family:'bebas neue', sans-serif;
  color:#367d78;
  font-size:5vw;
  letter-spacing:.2vw;
  position:relative;
  top:7vw;
  margin-left:3vw;
}

.googly-flex2 h2 {
  font-family:'bebas neue', sans-serif;
  color:#788883;
  font-size:5vw;
  letter-spacing:.2vw;
  margin-right:3vw;
  position:relative;
  top:4vw;
  left:25vw;
}

.googly-flex img {
  width:12vw;
  position:relative;
  top:6vw;
  left:4vw;
}

.googly-flex2 img {
  width:12vw;
  position:relative;
  left:21vw;
  top:3vw;
}

/* programming page */ 
 .programh2,
 .writingh2 {
  font-family:'bebas neue', sans-serif;
  text-align:center;
  font-size:5vw;
 }

 .subh4 {
  font-family: 'buenard', sans-serif;
  font-weight:normal;
  letter-spacing:.1vw;
  text-align: center;
 }

 .programh3 {
  font-family:'bebas neue', sans-serif;
  letter-spacing:.2vw;
  font-size:4vw;
  height:4.5vw;
 }

 .flex {
  display:flex;
  flex:wrap;
  /* justify-content: center; */
  /* margin: 0 0 0 0vw; */
 }

 .flex img {
  width:40vw;
 }

 .layout-flex h3,
 .dino-flex h3 {
  position:relative;
  top:17vw;
  left:8vw;
  font-size:4vw;
 }

 .layout-flex {
  margin-right:0;
  margin-left:14vw;
 }

 .dino-flex {
  margin-left:1.6vw;
 }

 .reduce-flex,
 .visai-flex {
  margin: 0  0 0 22vw;
 }

 .dino-flex h3 {
  left:20.5vw;
  color:#a13939;
 }

 .layout-sect p,
 .dino-sect p,
 .reduce-sect p,
 .visai-sect p {
  background-color:#ebc996;
  margin: 1vw 22vw;
  height:auto;
  padding: 1vw 2vw 3vw 2vw;
  font-size:1.1vw;
  margin-bottom:10vw;
 }

 .dino-sect p {
  background-color:#CCB1B1;
 }

 .reduce-sect p {
  background-color:#9FB8B2;
  padding-bottom:4vw;
 }

 .visai-sect p {
  background-color:#B4BBD5;
 }

 .reduce-flex h3,
 .visai-flex h3 {
  position:relative;
  top:17vw;
 }

 .reduce-flex h3 {
  right:8vw;
  color:#097158;
 }

 .visai-flex h3 {
  right:16vw;
  color:#404D81;
 }

 .layout-sect {
  margin-top:5vw;
 }

 .layout-flex h3 {
  color:#BF852F;
  /* text-shadow: 2px 2px 3px rgb(189, 186, 186); */
  /* text-shadow: .1vw .15vw #58544d; */
 }

 .btn {
  position:relative;
  top:1vw;
  right:1vw;
  border:none;
  background-color:transparent;
  float:right;
 }

 .weblink {
  font-family:'bebas neue', sans-serif;
  text-decoration:none;
  font-size:1.4vw;
  color:black;
 }

 .weblink1:hover {
  color:#BF852F;
 }

 .weblink2:hover {
  color:#097158;
 }

 .weblink3:hover {
  color:#a13939;
 }

 .weblink4:hover {
  color:#404D81;
 }

 
 /* writing page */
.veldt-flex,
.balloon-flex {
  display:flex;
  flex:wrap;
  margin: 0 22vw;
  margin-top:3vw;
}

.veldt-flex h3,
.balloon-flex h3 {
  letter-spacing:normal;
  font-family: 'bebas neue', sans-serif;
  font-size:3vw;
}

.veldt-flex {
  background-color:#C6C1BE;
}

.veldt-flex img {
  width:40%;
}

.veldt-content {
  margin: 2.5vw 2vw;
}

.veldt-content h3 {
  color:#67361E;
}

.balloon-flex {
  height:33.7vw;
}

.ball-img1 {
  padding-bottom:.5vw;
  margin-bottom:.5vw;
  padding-right:.5vw;
  padding-left:.2vw;
}

.ball-img2 {
  padding-bottom:.5vw;
  padding-right:.5vw;
  padding-left:.2vw;
}

.balloon-imgs img {
  width:22vw;
  background-color:#a2abca;
}

.balloon-content {
  background-color:#a2abca;
  margin-right:.5vw;
}

.balloon-content h3 {
  margin: 2.5vw 2vw 0 2vw;
  color:#601E1E;
}

.balloon-content p {
  margin: 0 2vw 2.5vw 2vw;
}

.writingbody {
  background-color:#601E1E;
  /* padding:5vw 0; */
}

.writing-headflex{
  background-color:#E5E5E5;
  box-shadow: 0px 10px 10px 0px rgba(66, 64, 64, 0.543);
}

.writingh2 {
  letter-spacing:.1vw;
}

/* about page */
.abouth2, 
.porth2 {
  text-align:center; 
  font-family: 'bebas neue', sans-serif;
  font-size:6vw;
  letter-spacing:.3vw;
  margin: 0 22vw;
}

.about-intro {
  margin: 0 22vw;
  font-size:1.2vw;
  margin-top:2vw;
  margin-bottom:7vw;
}

.about-subhead {
  font-family: 'buenard', sans-serif;
  text-align: center;
  font-size:3vw;
  font-weight:500;
  margin-top:5vw;
  margin-bottom:.2vw;
}

.all-awards {
  display:flex;
  flex-direction:column;
  flex:wrap;
}

.awards {
  width:100%
}

.awards1,
.awards2,
.awards3 {
  position:absolute;
  z-index:-2;
  width:100%;
  height:16vw;
}

.awards1 {
  background-color:#926262;
}

.yellow-flex:hover .awards2 {
  animation: slide 1s;
}

.awards2 {
  background-color:#DABB8D;
}

.awards3 {
  background-color:#7F9997;
}

.yellow-flex,
.green-flex,
.red-flex {
  display:flex;
  flex-direction:row;
  position: relative;
}

.yellow-flex img {
  width:15vw;
}









.awards h4 {
  font-size:1.5vw;
  font-family: 'be vietnam pro', sans-serif;
  font-weight:normal;
  padding-top:3vw;
  padding-left:4vw;
}


@keyframes slide {
  0% {
    transform:translate3d(0,0,0);
  } 
  100% {
    transform: translate3d(1602px, 0, 0);
  }
}

.hobbies-img {
  position:relative;
}

.hobbies {
  margin: 2vw 10vw 6vw 10vw;
  display:flex;
  justify-content: center;
  margin-bottom:10vw;
}

h5 {
  text-align: center;
  font-family:'buenard', sans-serif;
  font-size:1.2vw;
  font-weight:normal;
}

.book {
  bottom:5vw;
}

.film {
  top:5vw;
  right:1.5vw;
}

.yarn {
  top:5vw;
  left:2vw;
}

.future {
  background-color:#9da2b1;
  padding: 3vw 0 10vw 0;
}

.future h3 {
  font-family: 'bebas neue', sans-serif;
  text-align: center;
  font-size:3vw;
  letter-spacing:.1vw;
  color:#E6BF86;
}

.future p {
  margin: 0 20vw;
  padding-top:1vw;
  font-size:1.2vw;
}

.eyevid {
  position:relative;
  float:right;
  top:1vw;
  right:20vw;
  border:none;
  width:15vw;
}

/* personal */
.personalh3 {
  text-align:center; 
  font-family: 'bebas neue', sans-serif;
  font-size:6vw;
  letter-spacing:.3vw;
  margin: 0 22vw;
}

.coco-flex {
  display:flex;
  flex:wrap;
  margin: 0 22vw;
  margin-top:4vw;
}

.coco-imgs img {
  width:25vw;
  margin-bottom:.5vw;
  padding:.5vw;
  background-color:#B0B5C6;
}

.coco-content {
  margin-left:.5vw;
  padding-left:4vw;
}

.coco-content h3,
.bellesh3 {
  font-family:"bebas neue", sans-serif;
  font-size:3vw;
  color:#848daa;
}

.bellesh3 {
  text-align: center;
  margin-top:7vw;
  margin-bottom:3vw;
  color:#dd9d9d;
}

.coco-content p,
.belles-content p {
  font-size:1.35vw;
}

.star {
  position:relative;
}

.btn-coco {
  float:left;
  margin-left:1vw;
  background-color:#B0B5C6;
  padding: .5vw;
}

.btn-coco a {
  font-family: "buenard", sans-serif;
  color:black;
}

.star1 {
  width:2vw;
  top:2vw;
  right:4vw;
}

.star2 {
  right:3vw;
  width:4vw;
  top:2vw;
  right:3vw;
}

.belles-flex {
  display:flex;
  flex:wrap;
  margin: 0 22vw;
}

.belles-imgs img {
  width:25vw;
  margin-bottom:.5vw;
  background-color:#f1c9c2;
  padding:.5vw;
}

.belles-imgs {
  padding-top:.5vw;
}

.belles-content p {
  margin-right:4vw;
}

.comment-flex h3 {
  font-family:'lily script one',sans-serif;
  color:#A98080;
  font-size:10vw;
  position:relative;
}

.question {
  bottom:4vw;
  left:1vw;
}

.exclaim {
  top:2vw;
}

.comment-flex h2 {
  font-family:'bebas neue', sans-serif;
  color:#E5E5E5;
  font-size:5vw;
  letter-spacing: .1vw;
  text-align: center;
}

.comment-flex {
  display:flex;
  flex:wrap;
  justify-content: center;
}

form {
  position:relative;
  left:14.5vw;
  margin: 0 45vw 0 15vw;
  background-color:#E4E4E4;
  padding: 2vw 0 3vw 0;
}

.contactbody {
  padding-bottom:6vw;
}

label {
  font-family:"be vietnam pro", sans-serif;
  font-size:1.2vw;
  padding-left:2vw;
}

.fullname,
.email,
.message {
  margin-bottom:1vw;
}

.email input,
.fullname input {
  width:30.5vw;
}

input {
  font-size:1vw;
  font-weight:normal;
  font-family:"be vietnam pro", sans-serif;
}

.message label {
  padding:0 11vw;
}

.message {
  margin: 0 6vw;
}

.pads {
  width:28.5vw;
  resize:vertical;
  padding:1vw;
  height:4vw;
  font-size:1vw;
}

.submit {
  float:right;
  margin-right:7vw;
  padding: .2vw .5vw;
  font-family:"be vietnam pro", sans-serif;
}

.or,
.direct {
  text-align:center; 
  font-family: 'bebas neue', sans-serif;
  font-size:6vw;
  letter-spacing:.3vw;
  margin: 3vw 22vw;
}

.direct {
  color:#097158;
  margin-bottom:4vw;
}

.mail,
.text {
  font-family:"be vietnam pro", sans-serif;
  text-align: center;
  font-size:2vw;
  margin: 1vw 0;
}

/* portfolio page */
.year {
  font-family:'be vietnam pro', sans-serif;
  font-weight:normal;
  text-align: center;
  font-size:1.5vw;
}

.web,
.write,
.person {
  display:flex;
  flex:wrap;
  justify-content: center;
  background-color:#C6B5A9;
  padding: 6vw 0;
  margin: 4vw 0;
}

.write {
  background-color:#B0B5C6;
}

.person {
  background-color:#91A59F;
}

.web a,
.person a,
.write a {
  font-family:'be vietnam pro', sans-serif;
  font-size:4vw;
  color:#584848;
  text-decoration:none;
}

.web h4,
.person h4,
.write h4 {
  margin-left:5vw;
  font-size:4vw;
  color:#584848;
}

/* footer */

.footer-nav {
  margin:0;
  margin-top:2vw;
  padding:0;
  float:right;
  text-align:right;
}

.footer-logo {
  margin-top:2vw;
}

footer {
  background-color:#948f8f;
  margin-top:5vw;
  color:white;
  height:20vw;
}

.footer-content p {
  font-size:1.5vw;
  color:black;
  margin-left:2vw;
  margin-top:.5vw;
}
